.dashboardContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.dashboard {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

.dashboard h2 {
    text-align: center;
    margin-bottom: 20px;
}

.chart-container {
    width: 45%;
    margin: 20px 2.5%; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chart-container canvas {
    width: 100%;
    height: auto;
}
