.card-title {
    color: #383738;
}

h2 {
    color: #ffffff;
}

/* .studentInfo {
    background-color: aliceblue;
} */

.studentInfoCard {
    min-width: 200px;
    background: #000;
}

.card-body {
    background: linear-gradient(135deg, rgba(252, 79, 229, 0.8), rgba(65, 153, 219, 0.8));
}